*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.boxe{
    background-color:yellow ;
    width: 1200px;
    height: 614px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    margin: 100px auto 1000px;
    display: flex;
    padding: 86px 80px;
    flex-wrap: wrap;
    gap: 61px;
    
}
.box{
background-color: black;
width: 200px;
height: 200px;
display: flex;
justify-content: center;
align-items: center;
}
.boxu{
    width:133px ;
    height:78px ;
    background-color:rgb(176, 0, 0) ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;

}